/*
  Default.css
*/

/* Fundamental layout */

body { min-width: 240px; margin: 0 auto; padding: 24px; }
@media (max-width: 767px) { /* 'Compact width' (corresponding to a content width less than 720px) */
    body { max-width: 480px; }
    [in-the-margin] * { width: 192px; }
    [in-the-margin] { display: block; margin-top: 24px; margin-bottom: 24px; }
}
@media (min-width: 768px) { /* 'Regular width' (corresponding to a content width greater than 720px) */
    body { width: 720px; }
    body > main { width: 480px; margin-left: 240px; }
    [in-the-margin] * { width: 216px; }
    [in-the-margin] { display: block; float: left; margin-left: -240px; }
}
body > main { margin-top: 48px; margin-bottom: 48px; }

/* Colour */

body { background-color: #fafafb; color: #3f3f3f; }
a { color: #d92b00; }
body > header { border-bottom: 1px solid #5f5f5f; }
body > footer { border-top: 1px solid #5f5f5f; }
[pale] { color: #7f7f7f; }
h3 { color: #7f7f7f; }

blockquote { padding-left: 23px; }
blockquote { border-left: 1px solid #3f3f3f; }
body > footer { margin-bottom: 96px; }

.padded { padding-top: 72px; padding-bottom: 72px; }
.shifted-up { margin-top: -24px; }
.expanded { margin-top: 48px; margin-bottom: 48px; }

hr.separator { display: block; width: 72px; margin: 23px auto 24px 0; border-bottom: 1px solid #3f3f3f; }
hr.note-separator { width: 100%; margin: 23px 0 24px 0; border-bottom: 1px dashed #3f3f3f; }
hr.middle-separator { width: 72px; margin: 23px auto 24px auto; border-bottom: 1px solid #3f3f3f; }

/*section + section::before { content: "* * *"; text-align: center; display: block; position: relative; top: 4px; }
*/

/* Typography */

@font-face { font-family: Rubik; src: url("/assets/font--Rubik/Rubik-Light.ttf") format("truetype"); }
@font-face { font-family: Rubik; font-style: italic; src: url("/assets/font--Rubik/Rubik-LightItalic.ttf") format("truetype"); }
@font-face { font-family: Rubik; font-weight: bold; src: url("/assets/font--Rubik/Rubik-Medium.ttf") format("truetype"); }
@font-face { font-family: Rubik; font-weight: bold; font-style: italic; src: url("/assets/font--Rubik/Rubik-MediumItalic.ttf") format("truetype"); }

body { font-family: Rubik, sans-serif; }
p          { line-height: 24px; font-size: 16px; margin: 24px 0; }
td         { line-height: 24px; font-size: 16px; }
blockquote { line-height: 24px; font-size: 16px; margin: 24px 0; }
ol, ul     { line-height: 24px; font-size: 16px; margin: 24px 0; }
li         { line-height: 24px; font-size: 16px; }
h1         { line-height: 24px; font-size: 18px; margin: 48px 0; font-weight: bold; }
h2         { line-height: 24px; font-size: 21px; }
h3         { line-height: 24px; font-size: 16px; margin: 24px 0; margin-bottom: -24px; font-weight: bold; }

em, i { font-style: italic; }

strong, b { font-weight: bold; }
a { text-decoration: none; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }



ul > li         { margin-left: 12px; }
ul > li::before { content: "-"; display: inline-block; width: 0; position: relative; top: 0px; left: -12px; }


ol.notes::before { content: ""; display: block; width: 72px; height: 23px; border-top: 1px solid #5f5f5f; }
ol.notes         { line-height: 18px; font-size: 14px; list-style: decimal outside; margin-top: 18px; }
ol.notes > li    { line-height: 18px; font-size: 14px; margin-left: 36px; }

blockquote.featured { position: relative; border: 0; padding: 0; max-width: 50%; margin: 112px auto; }
blockquote.featured::before { content: "\201C"; position: absolute; left: -16px; top: 0px; font-size:32px; font-family: serif; }
blockquote.featured cite { display: block; text-align: right; }
blockquote.featured cite::before { content: "\2014 \2009"; }

.centered-text { text-align: center; }

/* Misc */

[without-margins] { margin: 0; }
[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[without-top-margin] { margin-top: 0; }
[like-paragraph-text] { line-height: 24px; font-size: 16px; font-family: Rubik; }
[italic] { font-style: italic; }
[special-tabular] { font-feature-settings: "tnum"; font-size: 14px; font-family: sans-serif; position: relative; left: 3px; }
[right-aligned] { text-align: right; }
html { -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }