---
---
<!DOCTYPE html>
<html>

<head>
  <title>Raphael</title>
  <meta name="viewport" content="initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/default.css">
</head>

<body>
  <header>
    <h1 without-margins like-paragraph-text><a href="/">The Notebook of Raphael Schindler</a></h1>
  </header>  
  <main>
    {{ content }}
  </main>
  <footer>
    <p without-top-margin>
      <a href="mailto:raphael@schindler.io">raphael@schindler.io</a>
    </p>
  </footer>
</body>

</html>